@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body {
    min-height: 100vh;
    background: url(../img/fundo.png);
    background-size: cover;
}
.dresscode{  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
h1 {
    font-family: 'Quicksand', sans-serif;
    color: #8d5e32;
    max-width: 1081px;
    font-size: 23px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    text-align: justify;
    margin-top: 64px;
}
.gallery {
    height: 569px;
    width: 734px;
    margin-top: 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    margin-bottom: 20px;
}

.um {
    height: 569px;
    width: 734px;
    margin-top: 49px;
}
.dois {
    height: 569px;
    width: 734px;
    margin-top: 49px;
}
.paragrafo {
    font-family: 'Quicksand', sans-serif;
    color: #8d5e32;
    max-width: 1081px;
    font-size: 23px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    text-align: justify;
}
.paragrafodois {
    font-family: 'Quicksand', sans-serif;
    color: #8d5e32;
    max-width: 1081px;
    font-size: 23px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    text-align: justify;
    margin-top: 965px;
}

.floresta {
    width: 100%;
}
.link {
    background: #a47f6f;
    color: #d9d6d3;
    text-decoration: none;
    font-weight: 700;
    border-width: 4px;
    border-style: solid;
    border-top-color: #DFDFDF;
    border-right-color: #a47f6f;
    border-bottom-color: #a47f6f;
    border-left-color: #a47f6f;
   }
   a:hover {
    background: #B1B1B1;
    color: #FFF;
    font-weight: bold;
    border-color: #B1B1B1;
   }
   