@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
body {
    background: url(../img/fundo.png);
}
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
h1 {
    margin-right: 32px;
    font-size: 16px;
    color: #a55e37;
    margin-top: 137px;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
}
form {
    width: 80%;
    font-size: 1.125rem;
}
form label, form input, form textarea, form button {
    display:block;
    width: 100%;
}
form label {
    color:#0d0c0c;
    line-height: 1;
    margin-bottom: 0.5rem;
}
form input, 
form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px
}
form textarea {
    min-height: 4rem;
    resize: vertical;
}
form input:hover,
form input:focus, 
form textarea:hover, 
form textarea:focus {
    outline: none;
}
form button {
    margin-left: 15px;
    display: block;
    padding: 1rem;
    background: #a8803f;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor:pointer;
    transition: 0.2s;
}
form button:hover {
    background: #efb352;
}
@media(min-width: 1200px) {
    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
    }
    body {
        background: url(../img/fundo.png);
        background-size: cover;
    }
    .d-flex {
        display:flex;
    }
    .flex-column {
        flex-direction: column;
    }
    .justify-content-center {
        justify-content: center;
    }
    .align-items-center {
        align-items: center;
    }
    h1 {
        font-size: 25px;
        color: #a55e37;
        margin-top: 137px;
        margin-bottom: 2rem;
        text-align: center;
        line-height: 1.2;
    }
    form {
        width: 100%;
        max-width: 32rem;
        font-size: 1.125rem;
    }
    form label, form input, form textarea, form button {
        display:block;
        width: 100%;
    }
    form label {
        color:#0d0c0c;
        line-height: 1;
        margin-bottom: 0.5rem;
    }
    form input, 
    form textarea {
        font: inherit;
        padding: 0.8rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 8px;
    }
    form textarea {
        min-height: 13rem;
        resize: vertical;
    }
    form input:hover,
    form input:focus, 
    form textarea:hover, 
    form textarea:focus {
        outline: none;
    }
    form button {
        display: block;
        padding: 1rem;
        background: #a8803f;
        color: #fff;
        text-transform: uppercase;
        border: none;
        border-radius: 8px;
        cursor:pointer;
        transition: 0.2s;
    }    

}
    